body{
    margin:0;
    padding:0;
    background: black;

}
.signupform{
    width: 300px;
    padding: 20px;
    text-align: center;
    background: url(12831.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 6%;
}
.signupform h1{
    margin-top: 100px;
    color:	#fff8dc;
    font-size: 50px;
    font-family: Tahoma, Verdana, sans-serif;
    
}
.signupform input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 48px;
    text-align: center;
    box-sizing: border-box;
    border: none;
}
.txt{
    margin: 20px 0;
    border-radius: 8px;
}
.signup-btn{
    margin-top: 50px;
    margin-bottom: 30px;
    background: 	#ffd700;
    border-radius: 48px;
    cursor: pointer;
    transition: 0.6s;
    display: block;
}
.signup-btn:hover{
    transform: scale(0.88);
    background: #fff8dc;

}
.signupform a{
    color:#fff8dc;
    padding: 10px;
    transition: 0.8s;
    display: block;
}
.signupform a:hover{
    color:#ffd700
}